@import "include1";
@import "include2";
// import ["include-css"]

#data {
  .left(10px);
  .table-base;
}
.content-navigation {
  border-color: @blue;
  color: darken(@blue, 9%);
}
.border {
  padding: @margin / 2;
  margin: @margin / 2;
  border-color: @blue;
}
.border2 {
  border: 0;
  margin: 10px;
}