.share {
  font-family: 'Share', cursive;
}
body {
  padding-top: 60px;
  background-image: url(../img/backg.jpg);
}
pre.console {
  background-color: #333;
  color: #fff;
}
pre span.fn {
  color: #76d1ff;
}
pre span.info {
  color: green;
}
pre span.prompt {
  color: #888;
}
section#overview h1,
section#overview h3,
section#overview a.brand {
  font-family: 'Share', cursive;
}
section#overview h1 {
  font-size: 50px;
}
section#overview h3 {
  font-size: 24px;
}
section[class] h1 {
  font-family: 'Share', cursive;
  padding-top: 60px;
  font-size: 36px;
}
section[class] h2 {
  font-size: 18px;
  padding-top: 60px;
}
section[class] h1 + h2 {
  padding-top: 20px;
}
section.changelog dl {
  margin-left: 20px;
}
section.changelog dd {
  margin-top: 10px;
}
section.changelog dt {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}
section div.gist {
  margin: 20px 0;
}
i.icon-github {
  background-image: url(../img/github.png);
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
.navbar i[class^=icon-] {
  position: relative;
  top: 1px;
}
